.Input {
  margin: 0.5rem 0;
}
.Input label {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 3px;
}
.Input input {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  padding: 1.5rem;
  background-color: white;
  box-shadow: var(--primary-box-shadow);
  border: 2px solid transparent;
  transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.Input input:focus {
  border-color: var(--primary-color);
}
.Input.hasError input {
  border: 2px solid var(--color-danger);
}
.errorText {
  color: var(--color-danger);
  opacity: 0;
}
.Input.hasError .errorText {
  opacity: 1;
}
