.Profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  height: 100%;
}
.Profile > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.UserName {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.5rem;
}
.UserLevel {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
}
.AvatarContainer {
  position: relative;
  width: 150px;
  height: 150px;
}
.AvatarContainer svg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 50;
  transform: rotate(-90deg);
}
.AvatarContainer svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: var(--bg-main);
  stroke-width: 8;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  transition: 0.5s cubic-bezier(0.36, 0.28, 0.5, 1.34);
}
.AvatarContainer svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;

  stroke: var(--primary-color);
}

.AvatarContainer > div {
  position: absolute;
  top: 18%;
  left: 18%;
  z-index: 100;
}
.UserMetaInfo {
  width: 100%;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center;
  margin-top: 3rem;
}
.UserMetaInfo > div {
  flex: 1;
}

.Rated,
.Views {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Rated h3,
.Views h3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem;
}
.Rated h3 span {
  font-size: 2rem;
}
.Rated > span,
.Views > span {
  opacity: 0.8;
  margin-top: -0.5rem;
}
