.Header {
  background-color: white;
  padding: 2rem;
  width: 100%;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.Header .Hamburger {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  font-size: 3rem;
}
@media (min-width: 48em) {
  .Header .Hamburger {
    display: none;
  }
}
.HeaderComponentList {
  display: flex;
  align-items: center;
}
.HeaderComponentList li {
  display: flex;
  align-items: center;

  cursor: pointer;
}
.HeaderComponentList li:not(:last-child) {
  margin-right: 2rem;
}
